<h1>Sign Up!</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>

<div class='field'>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
</div>


<div class='field'>
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>
</div>

  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.radio_button :role, "Owner" %>
  <%= f.label :role, "Owner", :value => "Owner" %>

  <%= f.radio_button :role, "Cutomer" %>
  <%= f.label :role, "Customer", :value => "Customer" %>

  <%= f.submit 'Sign Up' %>

<% end %>
