<h1><%= @restaurant.name %></h1>

<ul>
<li> <img src= '<%= @restaurant.photo_url%>'> </li>
  <li> <%= @restaurant.name %> </li>
    <li> <%= @restaurant.address %> </li>
      <li> <%= @restaurant.neighbourhood %> </li>
        <li> <%= @restaurant.price_range %> </li>
          <li> <%= @restaurant.summary %> </li>
            <li> <%= @restaurant.menu %> </li>

            </ul>
